<form action="/login" method="post">
  <p class="error"><%= @error %></p>
  <label>Username</label>
  <input type="text"><br>
  <label>Email</label>
  <input type="email"><br>
  <label>Password</label>
  <input type="password"><br>
  <input type="submit" name="login" >
</form>